.title {
    color: brown;
    font-size: 25px;
    font-weight: 700;
    text-decoration: solid;
}
.label {
    color: rgb(9, 163, 224);
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 10px;
}
.form {
    width: 100%;
    background-color: rgb(238, 239, 240);
    border-radius: 5px;
    height: 200px;
}
.submit {
    margin-left: 20px;
    background-color: rgb(8, 125, 235);
    color: aliceblue;
    border-radius: 3px;
    height: 35px;
    width: 100px;
    margin-top: 10px;

}