    .card {     
     background: white;
     padding: 1.5rem 2rem;
     
     border-radius: 6px;
     box-shadow: 0 2px 15px 0 rgba(0,0,0,0.1);
     margin-top: 10px;
  }
  
  .cardInfo {
     flex-wrap: wrap;
     justify-content: space-between;
  }
  .title {
      font-size: 20px;
      color: rgb(11, 165, 212);
  }
  
  .card:hover {
      background-color: rgb(243, 241, 240);
      cursor: pointer;
  }
  .avatar {
      height: 100px;
      width: 200px;
  }