.footer{
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    background-color: rgb(24, 23, 23);
    border-radius: 10px;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color:aliceblue;
    font-size: 20px;
  }
  .mail{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      color:rgb(9, 70, 182);
      font-size: 17px;
      cursor: pointer;
  }
  .icon{
      color: white;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
  }
  .text{
    margin-top: 10px;
  }
  .socialNetwork{
    color: aliceblue;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .fb{
      margin-right: 40px;
      float: left;  
  }
  .twitter{
      margin-left: 40px;
  }