.logo {
  background-image: url("../public/img/blog.png");
  height: 200px;
}
.topnav {
  overflow: hidden;
  background-color: #272626;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(250, 249, 249);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(180, 179, 179);
  color: black;
  border-radius: 5px;
  margin-left: 5px;
}

.topnav a.active {
  background-color:rgb(180, 179, 179);
  color: rgb(14, 12, 12);
  border-radius: 5px;
}

.topnav .searchContainer {
  float: right;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .searchContainer button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #272626;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: white;
}

.topnav .searchContainer button:hover {
  background: rgb(5, 5, 5);
  border-radius: 3px;
}